
.auth-container {
    width: 60%;
    margin: 0 auto;
    background-color: #12121257;

    .auth-title {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 1rem;
    }
}